    {% extends 'layout.html' %}
    {% block content %}
    
  <div id="menu-outer">
      <div class="table" style="padding: 5%;" >
          <ul class="possible-list" style="float: none; padding:5%; justify-self: center; text-align: center; height: 400px; overflow-y: auto;">
            {% for i in datas %}
                  <a id="ticker-desired" onclick=GetText() style="font-weight: bold; color: #FF9E2B;">{{ i.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</a> </br>
                  <a style="font-weight: 500; padding: 5%;">{{ i.tickername }}</a></br>
              </br>
              {% endfor %}
          </ul>
      </div>
  </div>
</div>

              
{% endblock content %}

   
