<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Personal Portfolio Html5 One Page Template">
    <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page">
    <meta name="author" content="ParExcellence">
    <!-- Site Title -->
    <title>Stockscream | Stocks Screener</title>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Material Icon -->
    <link rel="stylesheet" href="../static/css/materialdesignicons.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css" />
    <!-- Carousel Slider -->
    <link rel="stylesheet" href="../static/css/owl.carousel.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap" rel="stylesheet">
    <!-- Custom  CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Custom search -->
    <link rel="stylesheet" href="../static/css/style-search.css">
</head>

<body>
    <!-- Start Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- End preloader -->

    <div id="main-wrapper">
        <!-- Start Navbar -->
        <div class="menu-toggler">
            <span>
                <i class="mdi mdi-menu"></i>
            </span>
        </div>
        <header>
            <div class="header-navbar h-100">
                <a class="navbar-brand" href="#"><b>S</b><span>Menu</span></a>
                <nav class="navbar menu-list">
                    <ul class="list-group text-center" id="menu">
                        <li class="list-group-item">
                           <a class="active" href={{ url_for('homepage') }}>
                              <span class="menu-icon mx-auto"><i class="mdi mdi-home-outline"></i></span>
                              <span>home</span>
                          </a>
                      </li>
                      <li class="list-group-item">
                          <a href={{ url_for('watchlistPage') }}>
                              <span class="menu-icon mx-auto"><i class="mdi mdi-eye-check-outline"></i></span>
                              <span>Watchlist</span>
                          </a>
                      </li>
                      <li class="list-group-item">
                          <a href={{ url_for('analysisPage') }}>
                              <span class="menu-icon mx-auto"><i class="mdi mdi-chart-line"></i></span>
                              <span>Analysis</span>
                          </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </header>
        <!-- End Navbar -->

        <!-- Start About-Us
        <section class="section bg-light line-vector" id="aboutus">
            <div class="section-area">
                <div class="section-content">
                    <div class="container">
                        <div class="title-block mx-auto">
                            <div class="section_title mb-4 text-center">
                                <h2><span>Watchlist</span></h2>
                                <!-- suspended -->
                                <p class="section_subtitle mx-auto"></p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 col-sm-12">
                                <div class="about-text-block">
                                    <div class="about-content">
                                        <h4>
                                            FACEBOOK
                                        </h4>
                                        <!-- <div class="text">is simply dummy text of the printing and typesetting industry. has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
                                        <div class="text">is simply dummy text of the printing and typesetting industry. has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 col-sm-12">
                                <div class="about-img-box">
                                    <div class="image">
                                        <img src="../static/images/aboutus/about-img.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <!--Start Counter Block-->
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <div class="counter-block">
                                    <span class="mdi mdi-currency-usd"></span>
                                    <div class="details">
                                        <h3 class="mb-0 mt-0 number"><em class="count"></em></h3>
                                        <p class="mb-0">Price</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="counter-block">
                                    <span class="mdi mdi-chart-timeline-variant"></span>
                                    <div class="details">
                                        <h3 class="mb-0 mt-0 number"><em class="count"></em></h3>
                                        <p class="mb-0">Gain</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Counter Block-->
                    </div>
                </div>
            </div>
        </section>
        <!-- End About-Us -->

    <!-- Javascript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.counterup.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/typed.min.js"></script>
    <!-- Main Js   -->
    <script src="../static/js/main.js"></script>
</body>

</html> -->
